<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>776250129202-9b66q0n99edvii5asj815j1b3h3g0rf1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.776250129202-9b66q0n99edvii5asj815j1b3h3g0rf1</string>
	<key>API_KEY</key>
	<string>AIzaSyBppVEss_JF9pOzMnPbY0KS2ka-1TBK_C8</string>
	<key>GCM_SENDER_ID</key>
	<string>776250129202</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-daefb</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-daefb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:776250129202:ios:b1064059826c021e87752b</string>
</dict>
</plist>