<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>933911998913-2j221ctiq0qvnjr5b1cvi2a0r9teguqk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.933911998913-2j221ctiq0qvnjr5b1cvi2a0r9teguqk</string>
	<key>API_KEY</key>
	<string>AIzaSyCsIr18Rj43ZNfbmjyTdbUVXIH0GUowrvQ</string>
	<key>GCM_SENDER_ID</key>
	<string>933911998913</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mynotes</string>
	<key>PROJECT_ID</key>
	<string>mynotes-parsa</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-parsa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:933911998913:ios:964a55e0ee4c8a2fc37f40</string>
</dict>
</plist>